*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }

    /* cor do meu background */
    body{
        background-color: rgb(97, 133, 199);
    }

/* cabeçalho- header */
    header{
        background-color:midnightblue;
        display: flex;
        color: lightcyan;
        justify-content: space-between;
        height: 70%;        
    }
    .links-header{
        transform: scale(1.0);
        color: midnightblue;
     } 
        
     h1{        
        padding-left: 60px;    
    } 
    /* menu de interaçao do cabeçalho-header */
    h1:hover{
        transform: scale(1.0);
        color: cornflowerblue;
    }
    
     a:hover{
        transform: scale(1.0);
        color: cornflowerblue;
     }

     a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        color: midnightblue;
    }     

    /* inicio propriedades navegaçao */
     
    nav{
        background-color: lightcyan;
        display: flex;
        align-items: center;
        width: 33%;
        justify-content: space-around;
    }

    /* fim das propriedades navegação */
    /* fim do header */ 

    /* primeira section */    
    #resumo{
        display: flex;
        flex-direction: row-reverse;    
        }
    
    img{
        width: 170px;
        height: 170px;
        margin: 32px 20px 0px 55px;

     }

     p{
        margin: 30px 80px 30px 20px;
        font-size: 20px;
        line-height: 35px;
        text-align: justify;
        
        
     }     
     /* fim da primeira section */
             
    /* caracteristicas dos tags do h2,h3,*/

     h2,h3,h4{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: black;
     }
     
         /* segunda section */
     #hobbies{
        display: flex;
        flex-direction: row;
     }

     .paragrafohobbies{
        margin: 30px 10px 30px 50px;
     }

     .fotodois{
        margin: 0px 70px 20px 30px;
     }
           /*contatos  */    
 
   
     /* estrutura dos contatos */
     fieldset{
        background-color: midnightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height:250px;
        width: 400px;
        margin-left:440px;
        margin-top: 20px;
        border-color: midnightblue;
                
     }

     label{
        color: lightcyan;
        font-size: large;
        height: 20px;
        width: 200px;
        text-align: center;
        margin-top: 10px;
     }    
    
     .botao{
        
        background-color: white;
        font-size: large;
        color: midnightblue;
        margin-top: 7px;
     }
     .texto{
        height: 50px;
        width: 40px;
     }

     footer{
        background-color:midnightblue;
        color: lightblue;
        text-align: center;
     }

     
       

  
     
    
        
    
















